langgraph
langgraph-checkpoint-sqlite
langchain-core
langchain-nebius
langchain-openai
langchain-anthropic
langchain-groq
e2b
rich
python-dotenv
pytest
streamlit
PyGithub
sentence-transformers
numpy
ruff
fastapi
uvicorn
requests